.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #61dafb;
}

.App-link {
  color: #61dafb;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
}

.display {
  height: 200px;
  width: 100px;
  overflow-y: auto;
  font-size: larger;
}

h1 {
  color: white;
  margin: 6px;
}

.counterButton {
  margin: 5px;
  font-weight: bolder;
  font-size: larger;
  border-radius: 5px;
  background-color: #61dafb;
  box-shadow: 2px 2px 2px royalblue;
}

.counterButton:hover {
  border: 2px solid rgb(34, 34, 173);
}